*{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

html{
    font-size: 16px;
}

.top {
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template: 1fr / repeat(12, 1fr);
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0  1px 1px 1px rgba(0,0,0,0.2);
    z-index: 5;
}

.logo {
    grid-column: 1 / span 3;
    justify-self: center;
    left: 20px;
    font-size: 1.5rem;
}


.topNav {
    grid-column: 4 / span 4;
    justify-self: center;
}


.topNav > ul li{
    display: inline;
}

.theme-button {
    grid-column: 11 / span 2;
    display: inline-flex;
    align-items: center;
}

.mobileNav, .mobile-burger {
    display: none;
}

.mobile-burger {
    border: none;
    width: 4em;
    height: 4em;
}

.mobileNav {
    position: fixed;
    background-color: white;
    z-index: -1;
    top: 10vh;
    width: 100%;
    height: auto;
}

.mobileNav > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
    
}

.mobileNav > a:hover {
    background-color: lightslategray;
}

.mobileNav > a:active {
    background-color: rgb(36, 68, 99);
}

/* for theme switch button */

.switch {
    margin: 0 5px;
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    display: block;
    cursor: pointer;
    height: 30px;
    width: 60px;
    background-color: white;
    border-radius: 25px;
    transition: 0.5s;
}

.slider:before{
    position: absolute;
    content: "";
    background-color: rgb(45, 42, 85);
    top: 1px;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    transition: 0.4s; /*to make the animation smoother*/
}

input:checked + .slider:before {
    transform: translateX(30px);
    background-color: rgb(255, 211, 153);
}


input:checked + .slider {
    background-color: rgb(40, 40, 90);
    z-index: 6;
}

/* Hero */

.hero{
    width: 100%;
    height: 90vh;
    background-color: skyblue;
    z-index: 1;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(12, 1fr);
    column-gap: 10px;
}

.herobg {
    position: absolute;
    width: 100%;
    height: inherit;
}

/* Background animation */

.herobg.left {
    background: linear-gradient(60deg, slateblue, rgb(255, 0, 0, 0) 60%);
    animation: FadeIn 3s ease-in 0.5s forwards;
}

.herobg.right {
    background: linear-gradient(230deg, rgb(205, 90, 171), rgb(0, 0, 255, 0) 60%);
    animation: FadeIn 3s ease-in 0.5s forwards;
}

.pfp {
    grid-area: 2 / 1 / 4 / 5; 
    z-index: 4;
    display: flex;
    margin-left: 7%;
    height: 300px;
    width: 300px;
    margin-right: 10%;
    justify-self: center;
}

.profilepic {
    height: 300px;
    width: 300px;
    background-color: darkgray;
    border-radius: 50%;
    animation: FadeIn 1s ease-in 0s forwards;
    margin: auto;
}

.nametag {
    grid-area: 2 / 4 / 3 / 8;
    background-color: whitesmoke;
    padding: 20px 35px;
    margin-left: 8%;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    animation: moveFromRight 1s linear 0.2s forwards;
    box-shadow: 4px 4px 1px grey;
    z-index: 3;
    font-size: 3em;
}

.hero-text {
    grid-area: 3 / 4 / 6 / span 8;
    color: whitesmoke;
    z-index: 3;
    padding: 40px;
    opacity: 0;
    animation: FadeIn 2s ease 1s forwards;
    margin-left: 8%;
    font-size: 2em;
}

.section-title {
    font-size: 3em;
    text-align: center;
    margin: 30px 0;
}

.projects, .skills {
    margin: 50px 0;
    min-height: 50vh;
}

.projects {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    min-height: 70vh;
    height: auto;
}

.projectDisplay {
    border: 1px solid grey;
    width: 25vh;
    height: 25vh;
}


.showcase {
    display: grid;
    margin: auto;
    min-height: 100%;
    width: 70%;
    justify-content: center;
    background-color: whitesmoke;
    grid-template-columns: 0.7fr repeat(3, 1fr); 
    grid-template-rows:  0.5fr repeat(4, 1fr); 
    gap: 0px 0px; 
    height: 60vw;
    grid-template-areas: 
      "sctop sctop sctop sctop"
      "project-tabs main main main"
      "project-tabs main main main"
      "project-tabs main main main"
      "project-tabs main main main"; 
}

.showcase-top {
    grid-area: sctop;
    background: linear-gradient(90deg, violet, royalblue);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.project-tabs {
    grid-area: project-tabs;
    display: flex;
    flex-flow: column;
}

.tab {
    border: none;
    border-bottom: 1px solid grey;
    height: 70px;
    background-color: white;
    font-size: 1.5em;
}

.tab:hover {
    background-color: grey;
}

.tab-highlight {
    background: linear-gradient(90deg, rgb(110, 159, 233), rgb(143, 110, 233));
}

.mainDisplay {
    grid-area: main;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    font-size: 2em;
}

.project-box {
    display: none;
}

.project-box > figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box > figure img {
    height: 40%;
    width: 80%;
}

.skills-icons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
}

.fab {
    margin: 3%;
}

.contact-info{
    margin:10%;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.contact-info > * {
    margin: 10px;
}

@keyframes FadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes moveFromRight {
    0%{
        opacity: 0;
        transform: translateX(30%);
    }

    50%{
        opacity: 0;
        transform: translateX(20%);
    }

    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

/*Responsive design*/
@media screen and (max-width: 1024px) {
    .hero{
        grid-template: repeat(4, 1fr) / repeat(4, 1fr) ;
        justify-content: center;
        align-content: center;
    }
    .pfp {
        grid-area: 1 / 1 / 3 / 3;
        justify-self: end;
        margin: 10%;
    }

    .nametag {
        grid-area: 1 / 3 / 3 / 5;
        justify-self: start;
        align-self: center;
    }


    .hero-text{
        grid-area: 3 / 1 / 5 / 5;
    }

    .showcase {
        grid-template: repeat(2, 1fr) repeat(6, 2fr) / repeat(4, 1fr);
        grid-auto-rows: 1fr;
        min-height: 70vh;
        overflow: visible;
    }

    .showcase-top {
        grid-area: 1 / 1 / 2 / 5;
    }

    .project-tabs {
        grid-area: 2 / 1 / 3 / 5;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .mainDisplay {
        grid-row-start: 3;
        grid-column: 1 / -1;
        overflow: visible;
    }

    .tab{
        min-width: 30%;
        flex-grow: 2;
    }

    .project-box h4 {
        margin: 10px auto;
    }
    
    .project-box > figure img {
        height: 30%;
        width: 80%;
    }
}


@media screen and (max-width: 850px), screen and (min-resolution: 2dppx){
    .top {
        display: flex;
        justify-content: space-between;
    }

    .logo{
        font-size: 1.5rem;
        margin-left: 1.5em;
    }
    .topNav{
        display: none;
    }
    .theme-button{
        display: none;
    }

    .mobile-burger {
        display: block;
        margin-right: 2em;
    }

    .hero {
        display: flex;
        flex-flow: column;
        overflow: hidden;
        align-items: center;
    }

    .pfp, .nametag {
        margin: 20px;
    }

    .showcase {
        grid-template: repeat(2, 1fr) repeat(6, 2fr) / repeat(4, 1fr);
        grid-auto-rows: 1fr;
        min-height: 70vh;
        overflow: visible;
    }

    .showcase-top {
        grid-area: 1 / 1 / 2 / 5;
    }

    .project-tabs {
        grid-area: 2 / 1 / 3 / 5;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .mainDisplay {
        grid-row-start: 3;
        grid-column: 1 / -1;
        overflow: visible;
    }

    .tab{
        min-width: 30%;
        flex-grow: 2;
    }

    .project-box h4 {
        margin: 10px auto;
    }
    
    .project-box > figure img {
        height: 30%;
        width: 80%;
    }

}


@media screen and (max-width: 560px){
    .logo{
        margin-left: 0.5em;
    }

    .profilepic{
        height: 70%;
        width: 70%;
    }
    .mobile-burger {
        margin-right: 0.5em;
    }

    .nametag{
        font-size: 1.5em;
    }
    .hero-text {
        font-size: 1em;
    }

    .project-box {
        font-size: 0.8em;
    }
}